<footer class="w-100 ph3 ph3-m ph5-l pv4">
    <div class="fl w-100 w-50-ns">
        <p class="tl">
            &copy; {{ now|date('Y') }} Michaël Rosmane
        </p>
        <p class="tl f6">
            Made with <a class="link navy hover-orange" href="http://craftcms.com" target="_blank" rel="noopener">Craft</a> | Hosted on
            <a class="link navy hover-orange" href="https://m.do.co/c/1726c1440125" target="_blank" rel="noopener">Digital Ocean</a>
        </p>
    </div>

    <div class="fl w-100 w-50-ns ">
        <p class="tl tr-ns">
            <span class="icon f3 pa3-ns">
                <a class="link navy hover-orange" title="View me on LinkedIn" href="https://www.linkedin.com/in/michaelrosmane/" target="_blank"
                   rel="noopener">
                    <i class="fa fa-linkedin"></i>
                </a>
            </span>
            <span class="icon f3 pa3-ns">
                <a class="link navy hover-orange" title="View me on Github" href="https://github.com/MichaelRosmane" target="_blank" rel="noopener">
                    <i class="fa fa-github"></i>
                </a>
            </span>
        </p>
    </div>
</footer>