<header class="w-100 ph3 ph3-m ph5-l pv2 pv4-ns">

    <div class="fl w-100 w-50-ns">
        &nbsp;
    </div>

    <div class="fl w-100 w-50-ns tr">

        <ul class="list">
            <li class="dib"><a href="{{ craft.entries.section('home').first().url }}" class="link navy hover-orange">Home</a></li>
            <li class="dib">|</li>
            <li class="dib"><a href="{{ craft.entries.section('blogOverview').first().url }}" class="link navy hover-orange">Blog</a></li>
            {#
            <li class="dib">|</li>
            <li class="dib"><a href="{{ craft.entries.section('about').first().url }}" class="link navy hover-orange">About</a></li>
            #}
        </ul>
        
    </div>

</header>